@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListRoles</h1>
@if (Model.Any())
{
    <a class="btn btn-primary" style="width:auto" asp-action="CreateRol"
       asp-controller="Admin"> Create New Role</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" method="post" asp-route-id="@role.Id">
                    <a asp-action="EditRol" asp-controller="Admin"
                       asp-route-id="@role.Id" class="btn btn-primary">Edit</a>

                    @*<button type="submit" class="btn btn-danger">Delete</button>*@

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Are you sure that you delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>
                    <span id="DeleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>

                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            There is not Roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">us this button to create role</h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Admin" asp-action="CreateRol">
                Create Role
            </a>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/MyScript.js"></script>
}